<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prueba_UdeA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Prueba_UdeA.Properties.Settings>
            <setting name="strConexion" serializeAs="String">
                <value>Data Source=107.6.54.20,1433;Initial Catalog=udeaDB;User ID=udea;Password=udea;Integrated Security=False</value>
            </setting>
            <setting name="sp" serializeAs="String">
                <value>sp_Consulta</value>
            </setting>
        </Prueba_UdeA.Properties.Settings>
    </userSettings>
</configuration>